/*ESTILOS GENERALES*/
*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

a {
    text-decoration: none; 
    color: white;

}

ul li {
    display: inline-block;  
    padding: 10px;
} 

main{
    background-color: black;
    color: white;
} 

header{
    background-color: red;
    color: black;
}
footer{
    background-color: red;
    color: white;
    padding: 80px;
}
/*Primera pagina modificada*/
/*GRIDS*/
@media (min-width:701px){
.gridIndex {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100px 500px 30px;
    grid-template-areas:
     "header header header"
     "main img img "
     "footer footer footer";
    
}

header {
 grid-area: header;
}
nav{
    grid-area: header;
   }

.parrafo{
    grid-area: main;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;  
   
}
.imgfaker{
  grid-area: img;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;

}

footer {
    grid-area: footer;
    
}
}
@media (max-width:700px){
    header{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
       
        
    }

    nav{
        width: 50%;       
    }
    .imgfaker img{
        width:50%;
        height: 30%;
      
    }
    div.imgfaker {
        background-color: black;
    }
     .parrafo {font-size: 1rem  ; 
        width: 40%;
    } 
     article p{
        display:flex;
        flex-direction: row;
        justify-content: center;
     }
    footer{
        display: flex;
        justify-content: space-around;
        align-items: center; 
    }
}
/*Fin de la Primera Pagina*/

/* Segunda pagina modificada*/
@media (min-width:701px){
    
    
    .jugadas{
        grid-area: main;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center; 
       padding: 200px;  
       
    }
    

}